*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #161b22;
    color:white;
    
}
.heading{
    text-align: center;
    font-size: auto;
    max-height: fit-content;
}
.calbody{
    font-family: 'Digital-7';
    position:fixed;
    left:32%;
    right:32%;
    top:10%;
     width:32vw;
    height:75vh;
    border:solid 8px cadetblue;
    background-color: cadetblue;
    border-radius: 5%;
}
.calbody h2{
    text-align: center;
    color: black;
}
.caldis{
    position:relative;
    top:0%;
    height: 14vh; 
    background-color: rgba(255, 255, 255, 0.687);
    border:solid 2px black;
    box-shadow: 0px 5px 5px 0px rgb(94, 94, 94);
    margin-bottom: 3%;
}
.caldis p{
    margin:0.5% 0 0.5% 1%;
    color:black;
    font-size:5rem;
    font-weight: bold;
    height:100%;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width:2px;
}
.calkeys{
    position:relative;
    width:80%;
    height:65%;
    display:grid;
    grid-template-columns: 8vw 8vw 8vw 8vw;
    grid-template-rows: 11vh 11vh 11vh 11vh 11vh;
}
.key{
    display:flex;
    justify-content: center;
}
.keytype{
    font-family: 'Digital-7';
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    width:90%;
    height:90%;
    border-radius: 30%;
    border:solid 1px black;
}
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine,#s0,#s00{
    background-color: white;
}
#mod,#di,#x,#mi,#pl,#dec{
    background-color: #4cb3af;
}
#ac,#c{
    background-color: #1e7a83;
}
#eq{
    background-color: #f49c4a;
}
#one:hover,#two:hover,#three:hover,#four:hover,#five:hover,#six:hover,#seven:hover,#eight:hover,#nine:hover,#s0:hover,#s00:hover{
    background-color: rgb(179, 179, 179);
    transform: scale(0.9);
    box-shadow: 0 6px 6px 0 rgb(94, 94, 94);
}
#mod:hover,#di:hover,#x:hover,#mi:hover,#pl:hover,#dec:hover{
    background-color: #3e9492fe;
    transform: scale(0.9);
    box-shadow: 0 6px 6px 0 #1b4140fe;
}
#ac:hover,#c:hover{
    background-color: #18666d;
    transform: scale(0.9);
    box-shadow: 0 6px 6px 0 #0a2d30;
}
#eq:hover{
    background-color: #ae7036;
    transform: scale(0.9);
    box-shadow: 0 6px 6px 0 #3d2713;
}